{% extends 'competitions/base.html' %}
{% load static %}  
{% block content %}
<div class="content-section">
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Contest Solution</legend>
            <div>{{form.as_p}}</div>
        </fieldset>
        <div class="form-group">
            {% if result %}
                <p class="btn btn-outline-info" style="float:left;margin-left:15px">{{result}}%</p>
            {% endif %}
            <p class="btn btn-primary" style="float:left;margin-left:15px">50%</p>
            <button class="btn btn-outline-info" type="submit">Save</button>
            <a class="btn btn-outline-info run-test" style="float:right;margin-right:15px">Test Result</a>
        </div>
    </form>
</div>
{% endblock content %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'registers/form_create_bailam.css' %}">
{% endblock %}