body {
    background-color: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.content-section {
    display: flex;
    flex-direction: column;
}

.media-body {
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

figure {
    width: 100%;
    height: 100%;
}

.content-section {
    border-radius: 5px;
    background-color: beige;
}

.btn {
    margin: 10px 0;
}

article {
    display: flex;
    flex-direction: column;
    background-color: #f5f5e9;
    border: solid 1px;
    border-radius: 7px;
    padding: 10px;
}